<!DOCTYPE html>
<html>

<head>
  <!-- Load in libraries here -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
</head>

<body>

<div id="root"> <!-- Vue can only access things contained within this div -->

  <!-- Some input elements that are bound to sourceData -->
  <input type="range" min="0" max="400" step="1" v-model="sourceData.x"></input>
  <input type="range" min="0" max="200" step="1" v-model="sourceData.y"> </input>

  <!-- Vue components for p5 sketches, also bound to sourceData -->
  <p5 src="./sketch1.js" :data="sourceData"></p5>
  <p5 src="./sketch2.js" :data="sourceData"></p5>

</div>

<script src="vue-definitions.js"></script>

</body>
</html>