<!DOCTYPE html>
<html>

<head>
  <!-- Load in libraries here -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
</head>

<body>

<div id="root"> <!-- Vue can only access things contained within this div -->

  <h1>Data Watching Example</h1>

  <h2>Slide me!</h2>

  <!-- Some input sliders that are bound to data -->
  <input type="range" min="0" max="400" step="1" v-model="data.x" ></input>
  <input type="range" min="0" max="200" step="1" v-model="data.y"> </input>

  <h2>Edit me!</h2>
  <!-- Some input textboxes that are bound to data -->
  x: <input v-model="data.x">
  y: <input v-model="data.y">

  <!-- Access data in html with double curly braces {{ }} -->
  <h3>The value of x is {{data.x}} and y is {{data.y}}.</h3>


  <!-- Vue components for p5 sketches, also bound to data -->
  <p5 src="./sketch.js" :data="data"></p5>

  <p>In this p5 program, we have disabled the draw() loop. So how is the animation being updated? A custom dataChanged() function is run every time that the data changes, which updates the canvas.</p>

  <p>This is possible thanks to Vue's ability to 'watch' data. Data watchers are useful if you want to perform a computationally expensive operation in response to changing data. The alternative approach would be to check for a change in data on each frame of the draw() loop, which can be less efficient.</p>

  <p><a href="https://github.com/aatishb/p5-vue-starter/tree/master/data-watching">Source Code</a></p>

</div>

<script src="vue-definitions.js"></script>

</body>
</html>